<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage products</title>
    <link rel="stylesheet" href="styles.css">
</head>
<center>
<body id="manage">
    <h3><a href="/">ATN Toys Store</a></h3>
    <button><a href="/add">Add product</a></button>
    <table>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Picture</td>
            <td></td>
        </tr>
        <tr>
            {{#each data}}
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td><img src="{{picture}}" alt="toys" width="150" height="130"><br></td>
            <td>
                <a href="/delete?id={{_id}}"><input type="submit" value="Delete"></a>
                <a href="/update?id={{_id}}"><input type="submit" value="Update"></a>
            </td>
        </tr>
        {{/each}}
    </table>
</body>
</center>
</html>